# macOS
.DS_Store

# Node
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/
.history/

# Python
__pycache__/
*.pyc

# General
*.swp
*.swo
*.tmp
*~


# Apps Script
.clasp.json
.claspignore

# Environment
.env
.env.*

# Credentials and tokens
credentials*
token*
